

.main_photo{
    width: 1920px;
    height: 1080px;

}

.Rectangle_background{
    width: 1644px;
    height: 814px;
    flex-shrink: 0;/* как элементы будут сжиматься относительно друг друга при уменьшении контейнера*/
    border-radius: 35px;
    opacity: 0.5; /* уровень прозрачности*/
    background: rgba(178, 176, 176, 0.76);
    /*отступы от краев*/
    left: 138px;
    top: 146px;
    position: absolute;
}
.navigation{
    left: 492px;
    top: 54px;
    position: absolute;
}
.navigation ul li{
    display: inline-block;
    margin-right: 30px; /*отступ справа для каждого эелемента*/
}
.home, .about_me, .education, .skills, .contacts{
    color: rgba(178, 176, 176, 0.98);
    font-family: 'Domine', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.text_name {
    display: flex;
    flex-flow: column;
    margin-top: 46px;
    left: 313px;
    top: 348px;
    color: #1E1E1E;
    font-family: Domine, serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.95;
    position: absolute;

}


.line{
    width: 2px;
    height: 575px;
    background: #000;
    position: absolute;
    left: 1135px;
    top: 253px;
}
.text_occupation {
    left: 1200px;
    top: 310px;
    position: absolute;
}


.text_occupation ul li {
    margin-top: 32px;
    list-style: disc;

}
.frontender, .designer, .skater, .dancer, .music{
    color: #1E1E1E;
    font-family: Domine, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
}

.container_second_page{
    width: 1920px;
    height: 1080px;
}
.Rectangle_background_2{
    width: 1644px;
    height: 814px;
    flex-shrink: 0;/* как элементы будут сжиматься относительно друг друга при уменьшении контейнера*/
    border-radius: 35px;
    opacity: 0.5; /* уровень прозрачности*/
    background: rgba(178, 176, 176, 0.76);
    /*отступы от краев*/
    left: 138px;
    top: 146px;
    position: relative;

}

.head{
    left: 335px;
    top: 256px;
    color: #1E1E1E;
    font-family: Domine,serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.95;
    position: relative;
}
