

.main_photo{
    width: 1920px;
    height: 1080px;

}
.Rectangle_background{
    width: 1644px;
    height: 814px;
    flex-shrink: 0;/* как элементы будут сжиматься относительно друг друга при уменьшении контейнера*/
    border-radius: 35px;
    opacity: 0.5; /* уровень прозрачности*/
    background: rgba(178, 176, 176, 0.76);
    /*отступы от краев*/
    left: 138px;
    top: 146px;
    position: absolute;
}
.navigation{
    left: 492px;
    top: 54px;
    position: absolute;
}
.navigation ul li{
    display: inline-block;
    margin-right: 30px; /*отступ справа для каждого эелемента*/
}
.home, .about_me, .education, .skills, .contacts{
    color: rgba(178, 176, 176, 0.98);
    font-family: 'Domine', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.text_name span{
    color: #1E1E1E;
    font-family: Domine,serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.95;
    position: relative;
}
.name{
    width: 614px;
    height: 163px;
    left: 175px;
    top: 248px;

}
.surname{
    width: 679px;
    height: 118px;
    top: 388px;
    left: 175px;

}
.rectangle1{
    width: 532px;
    height: 846px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.47);
    left: 169px;
    top: 117px;
    position: absolute;
}

.my_photo{
    width: 532px;
    height: 875px;
    flex-shrink: 0;
    position: absolute;
    mix-blend-mode: luminosity;
    left: 209px;
    top: 148px;
}
.line{
    width: 2px;
    height: 575px;
    background: #000;
    position: absolute;
    left: 1135px;
    top: 253px;
}
.text_occupation {
    left: 1160px;
    top: 339px;
    position: relative ;

}
.text_occupation ul li {
    margin-top: 32px;
    color: #1E1E1E;
    /* Domin */
    font-family: Domine, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
    text-decoration: dotted;
    list-style-type: disc;
}