

.main_photo{
    width: 1920px;
    height: 1080px;


}

.Rectangle_background{
    width: 1644px;
    height: 814px;
    flex-shrink: 0;/* как элементы будут сжиматься относительно друг друга при уменьшении контейнера*/
    border-radius: 35px;
    opacity: 0.5; /* уровень прозрачности*/
    background: rgba(178, 176, 176, 0.76);
    /*отступы от краев*/
    left: 138px;
    top: 146px;
    position: absolute;
}
.navigation{
    left: 492px;
    top: 54px;
    position: absolute;
}
.navigation ul li{
    display: inline-block;
    margin-right: 30px; /*отступ справа для каждого эелемента*/
}
.home, .about_me, .education, .skills, .contacts{
    color: rgba(178, 176, 176, 0.98);
    font-family: 'Domine', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.text_name {
    display: flex;
    flex-flow: column;
    margin-top: 46px;
    left: 313px;
    top: 348px;
    color: #1E1E1E;
    font-family: Domine, serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.95;
    position: absolute;

}


.line1{
    width: 2px;
    height: 575px;
    background: #000;
    position: absolute;
    left: 1135px;
    top: 253px;
}
.text_occupation {
    left: 1200px;
    top: 310px;
    position: absolute;
}


.text_occupation ul li {
    margin-top: 32px;
    list-style: disc;

}
.frontender, .designer, .skater, .dancer, .music{
    color: #1E1E1E;
    font-family: Domine, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
}

.container_second_page{
    width: 1920px;
    height: 1080px;
} 
.Rectangle_background_2{
    width: 1644px;
    height: 814px;
    flex-shrink: 0;/* как элементы будут сжиматься относительно друг друга при уменьшении контейнера*/
    border-radius: 35px;
    opacity: 0.5; /* уровень прозрачности*/
    background: rgba(178, 176, 176, 0.76);
    /*отступы от краев*/
    left: 138px;
    top: 146px;
    position: relative;

}

.head{
    left: 335px;
    top: -550px;
    color: #1E1E1E;
    font-family: Domine,serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.95;
    position: relative;
}

.line2{
    left: 335px;
    top: -466px;
    width: 2px;
    height: 380px;
    background: #000;
    position: relative;
}
.spheres{
    left: 394px;
    top: -840px;
    position: relative;

}
.spheres ul li{
    list-style: disc;
    margin-top: 22px;
}

.text_animation li {
    position: relative;
    color: #1E1E1E;
    font-family: Domine,serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
}

.tooltip-trigger_about_me, .tooltip-trigger_work, .tooltip-trigger_sport, .tooltip-trigger_music, .tooltip-trigger_creative {
    position: relative;
    cursor: pointer;
}

.tooltip-text_about_me {
    top: -50px;
    left: 400px;
    visibility: hidden;
    width: 303px;
    height: 115px;
    border-radius: 35px;
    background: rgba(178, 176, 176, 0.67);

    color: #000;
    font-family: Domine, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;

    padding: 25px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;

    transform: translate(-50%, 10px);

    transition: opacity 0.3s;
}


.tooltip-trigger_about_me:hover ~ .tooltip-text_about_me {
    visibility: visible;
    opacity: 1;
}
.tooltip-text_work {
    top: -65px;
    left: 540px;
    visibility: hidden;
    width: 500px;
    height: 150px;

    border-radius: 35px;
    background: rgba(178, 176, 176, 0.67);

    color: #000;
    font-family: Domine, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;

    padding: 15px 15px ;
    position: absolute;
    z-index: 1;
    bottom: 10%;

    transform: translate(-50%, 10px);

    transition: opacity 0.3s;
}
.tooltip-trigger_work:hover ~ .tooltip-text_work {
    visibility: visible;
    opacity: 1;
}
.tooltip-text_sport {
    top: -45px;
    left: 500px;
    visibility: hidden;
    width: 355px;
    height: 120px;

    border-radius: 35px;
    background: rgba(178, 176, 176, 0.67);

    color: #000;
    font-family: Domine, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;

    padding: 23px 15px ;
    position: absolute;
    z-index: 1;
    bottom: 10%;

    transform: translate(-50%, 10px);

    transition: opacity 0.3s;
}
.tooltip-trigger_sport:hover ~ .tooltip-text_sport {
    visibility: visible;
    opacity: 1;
}
.tooltip-text_music {
    top: -40px;
    left: 540px;
    visibility: hidden;
    width: 400px;
    height: 100px;

    border-radius: 35px;
    background: rgba(178, 176, 176, 0.67);

    color: #000;
    font-family: Domine, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;

    padding: 25px 15px ;
    position: absolute;
    z-index: 1;
    bottom: 10%;

    transform: translate(-50%, 10px);

    transition: opacity 0.3s;
}
.tooltip-trigger_music:hover ~ .tooltip-text_music {
    visibility: visible;
    opacity: 1;
}
.tooltip-text_creative {
    top: -40px;
    left: 550px;
    visibility: hidden;
    width: 400px;
    height: 100px;

    border-radius: 35px;
    background: rgba(178, 176, 176, 0.67);

    color: #000;
    font-family: Domine, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;

    padding: 25px 15px ;
    position: absolute;
    z-index: 1;
    bottom: 10%;

    transform: translate(-50%, 10px);

    transition: opacity 0.3s;
}
.tooltip-trigger_creative:hover ~ .tooltip-text_creative {
    visibility: visible;
    opacity: 1;
}
